@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,200&display=swap");

body {
  font-family: "Mulish", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #274c78;
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 3rem;
  height: 3rem;
}

main {
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    padding: 0;
    width: 90%;
  }
}

.profiles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonial {
  font-weight: bold;
}
